/* CSS declarations go here */
.container-fluid{
    background-color: #aba5cc
}
.col{
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 2px inset gray;
    border-right: 2px inset gray;
}
.priority-col{
    text-align: center;
}
.header-row-style{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.navbar-styling{
    border-bottom: 5px inset #987dc4;
    background-color: #8251a3;
}
